@import 'jeet/framework'
@import 'jeet/goodies'
@import 'jeet/typography'

html
	background #fff1e1

#header
	padding-bottom 10px
	background #bd4932
	/*background #0a2334*/
	> div
		center()
	.logo
		col(5)
		margin-top 10px
	form
		col(8)
		offset(11)
		margin-top 30px
		input
			border 0
			col(18)
			padding 10px
		#searchsubmit
			col(6)
			padding 4px 0
			background-color #db9e36
			border 0
			color white
			height 36px
			padding 5px 9%

#nav
	background #db9e36
	margin-bottom 30px
	> div
		center()
		padding 0
		border-left 1px solid lighten(#db9e36, 5%)
		border-right 1px solid darken(#db9e36, 10%)
	a
		font-size 16px
		span(4)
		padding 15px 0
		text-align center
		text-decoration none
		color #fff
		border-right 1px solid lighten(#db9e36, 5%)
		border-left 1px solid darken(#db9e36, 10%)
		&:hover
			background lighten(#db9e36, 5%)
			
#main
	center()
	margin-bottom 30px
#posts
	col(16)
	#paraulaclau
		background #db9e36
		padding 0% 0.8%
	
.post_sencer
		cf()
		background #fff
		border 1px solid #ddd
		border-bottom 0
		padding 30px
		min-height 800px
		.cos404
			col(24)
			text-align center
			p
				margin-top 10%
			h1
				font-size 3em
		.cos
			col(17)
			p
				margin 0
				text-align justify
				margin-bottom 10px
			img 
				float left
				width 100%
				height 100%
				margin-top 10px
				margin-bottom 10px
			h1
				font-size 3em
			.comments-area
				background #db9e36
				padding 5px
				a
					color white
					text-decoration none
				ol
					margin 0
					padding 0
					list-style none
					background lighten(#db9e36, 20%)
					.comment-body
						padding 5px
						margin-bottom 7px
						img
							width 7%
							margin 0
							margin-right 5px
							padding 0
						p
							display block
							clear both
					ul
						list-style none
				#respond
					textarea
						width 100%
						resize none
						background lighten(#db9e36, 70%)
						border 0
					form
						label
							display block
							col(5.5)
						input
							background lighten(#db9e36, 70%)
							border 0
							width 50%
		.columnafixa
			col(7)
			img
				width 100%
				height 100%
			.columnaesquerra
				border solid 1px #db9e36
				padding 20px
				background white
				margin-top 0
				&:last-child
					margin-top 20px
				.infopost
					display block
					a 
						color #db9e36
						text-decoration none
				ul
					list-style none
					padding 0
					margin 0
					display inline
					li
						display inline
				.acompartir
					background #db9e36
					color white
					padding 5px
					display block
					clear both
					margin-bottom 5px
					text-decoration none
					text-align center
					&:hover
						background #bd4932
			
			ul 
				display inline
				padding 0
				margin 0
				li
					list-style none
					display inline
	.post
		cf()
		background #fff
		border 1px solid #ddd
		border-bottom 0
		padding 30px
		img 
			float left
			width 31.914893617021278%
			height 31.914893617021278%
				
		header
			col(15)
			offset(1)
			nav
				margin-bottom 10px
				ul
					margin 0
					padding 0

				a
					color #65b3ea
					text-decoration none
					&:hover
						text-decoration underline
					&:last-child
						border-bottom 1px solid #ddd
			h1
				font-size 2.5em
				font-weight bold
				a
					color black
					text-decoration none
				&:hover
					background-color #eee
			p
				text-align justify
			.llegirmes
				text-decoration none
				display block
				float right
				margin 0
			.date
				color #555
				margin 0
		.veuretot
			col(13)
			offset(2)
			margin-top 30px
			background #db9e36
			padding 5px
			text-align center
			color white
			text-decoration none
			
			
		.veuretotsi
			col(13)
			offset(2)
			background green
			padding 5px
			text-align center
			margin-top 30px
			color white
			text-decoration none
			
		.veuretotno
			visibility hidden
			
			
	.wp-pagenavi
		col(24)
		margin-top 10px
		background white
		padding 10px 30px
		border 1px solid #ddd
		a
			color black
			text-decoration none
			text-align center
			col(1.3)
			height 28px
			padding-top 3px
			&:hover
				background #db9e36
		.current
			color white
			text-align center
			col(1.3)
			height 28px
			background #bd4932
			padding-top 3px
			
#sidebar
	col(8)
	margin-top 10px
	.social
		a
			text-align center
			text-decoration none
			font-weight bold
			background #fff
			padding 30px 0
			border 1px solid #ddd
			border-right 0
			&:hover
				background #eee
			&:last-child
				border-right 1px solid #ddd
			
#sidebar2
	col(8)
	margin-top 10px
	margin-right 0
	margin-left 0
	margin-bottom 0
	border 1px solid #ddd
	.fondo_imatge
		background-image url('http://www.hhhhold.com/400-550')
		background-size 500px 500px
		height 200px

#llistalinks
	col(8)
	
	margin 0
	a	
		border solid #ddd
		border-width 1px 1px 0px 1px
		background #fff
		color #777
		col(24)
		padding 10px 20px
		text-decoration none
		display block
		&:last-child
			margin-bottom 0px
			border-bottom 1px solid #ddd
		&:hover
			color #000
			background #eee
		img
			col(1)
			height 10px
			width 5px
			margin-top 5px
			float right
		
.titol_aside
	font-weight normal
	margin 0
	span(24)
	padding 10px 5px
	display block
	font-size 20px
	padding-left 20px
	color white
	background #db9e36
	
.segueixnos
	margin-top 50px
	
footer
	col(24)
	background #105b63
	height 190px
	.footer_mig
		font-size 16px
		color white
		padding 20px
		center()
		text-align center
		min-height 190px;
		offset(3)
		margin-right auto
		span(18)
		background #105b63
		offset(3)
		hr
			height 1px
			background lighten(#105b63, 15%)
			border 0
		a
			color white
	
// ----------------------------------------------------------TABLET
bp(745px)
	
#header form, #posts, #sidebar, #sidebar2, #posts .post img, #posts .post header, #llistalinks, footer .footer_mig, #posts .post_sencer .columnafixa, #posts .post_sencer .cos
	stack()
#header .logo
	col(10)
#header .logo img
	display inline-block
#nav a 
	border-top 1px solid lighten(#db9e36, 15%)
	border-bottom 1px solid darken(#db9e36, 20%)
	margin-bottom 0
	span(12)
#posts .post_sencer .columnafixa .columnaesquerra
	font-size 0.85em
	padding 10px 0px
	margin 0
	&:last-child
		margin-top 5px
	.infopost
		display inline-block
		margin-right 15px
		margin-left 15px
	.acompartir
		display inline
		padding 9px 9px
		line-height: 290%
#posts .post img
		margin-bottom 15px
#posts .post . h3
	text-align justify
#posts .post header p
	margin-bottom 0
#posts .post p, h1
	text-align left
#posts .post ul li
	text-align right
#header form
	margin-top 0
	margin-bottom 0
	input
		padding 5px
	#searchsubmit
		height 27px
#llistalinks
	text-align left
#titol_aside
	text-align left
// ---------------------------------------------------------------MOBILE

bp(350px)

#header .logo
	stack()
#nav a 
	padding 5px
#nav 
	margin-bottom 10px
#posts .post
	padding 5px
	padding-bottom 10px
#posts .post_sencer
	padding 5px
	padding-bottom 10px
	.cos
		font-size 0.85em
		h1
			font-size 2.3em
#posts .post img
	margin 0
#posts .post header nav
	margin 0
	padding 0
#main
	padding 0
footer .footer_mig
	font-size 12px
#llistalinks a
	padding 5px 10px
#titol_aside
	text-align left
	padding 5px 10px
#posts .post_sencer .columnafixa .columnaesquerra
	font-size 12px

endbp()
