@import 'jeet/normalize.css';
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url("js/vendor/boxsizing.htc");
}
html {
  overflow-y: scroll;
  overflow-x: hidden;
}
.placeholder {
  color: #aaa;
}
img,
video,
audio,
embed,
object,
input,
iframe {
  max-width: 100%;
}
.last {
  margin-right: 0;
}
body {
  *zoom: 1;
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.center {
  *zoom: 1;
  max-width: 1410px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.center:before,
.center:after {
  content: "";
  display: table;
}
.center:after {
  clear: both;
}
.chromeframe {
  width: 100%;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #eee));
  background: -webkit-linear-gradient(top, #fff 0%, #eee 100%);
  background: -moz-linear-gradient(top, #fff 0%, #eee 100%);
  background: -o-linear-gradient(top, #fff 0%, #eee 100%);
  background: -ms-linear-gradient(top, #fff 0%, #eee 100%);
  background: linear-gradient(top, #fff 0%, #eee 100%);
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: inset 0 -1px 0 #fff;
  box-shadow: inset 0 -1px 0 #fff;
  text-shadow: 0 1px 0 #fff;
}
.chromeframe p {
  *zoom: 1;
  max-width: 1410px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding: 30px 0;
  text-align: center;
  margin-bottom: 0;
}
.chromeframe p:before,
.chromeframe p:after {
  content: "";
  display: table;
}
.chromeframe p:after {
  clear: both;
}
.chromeframe p a {
  color: #3a95fb;
}
html {
  font-size: 14px;
  line-height: 1.5;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0.25em;
}
p {
  margin-top: 0;
  margin-bottom: 28px;
}
a {
  color: #3a95fb;
}
a img {
  display: block;
}
a:hover {
  color: #056ee3;
}
input,
textarea {
  color: #000;
}
html {
  background: #fff1e1;
}
#header {
  padding-bottom: 10px;
  background: #bd4932;
/*background #0a2334*/
}
#header > div {
  *zoom: 1;
  max-width: 1410px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#header > div:before,
#header > div:after {
  content: "";
  display: table;
}
#header > div:after {
  clear: both;
}
#header .logo {
  *zoom: 1;
  display: inline;
  float: left;
  width: 19.148936170212767%;
  margin-right: 2.127659574468085%;
  *width: 18.679078014184398%;
  *margin-right: 2.083333333333333%;
  margin-top: 10px;
}
#header .logo:before,
#header .logo:after {
  content: "";
  display: table;
}
#header .logo:after {
  clear: both;
}
#header .logo:last-child {
  margin-right: 0;
}
#header form {
  *zoom: 1;
  display: inline;
  float: left;
  width: 31.914893617021278%;
  margin-right: 2.127659574468085%;
  *width: 31.179078014184398%;
  *margin-right: 2.083333333333333%;
  margin-left: 46.808510638297875%;
  margin-top: 30px;
}
#header form:before,
#header form:after {
  content: "";
  display: table;
}
#header form:after {
  clear: both;
}
#header form:last-child {
  margin-right: 0;
}
#header form input {
  border: 0;
  *zoom: 1;
  display: inline;
  float: left;
  width: 74.46808510638297%;
  margin-right: 2.127659574468085%;
  *width: 72.84574468085106%;
  *margin-right: 2.083333333333333%;
  padding: 10px;
}
#header form input:before,
#header form input:after {
  content: "";
  display: table;
}
#header form input:after {
  clear: both;
}
#header form input:last-child {
  margin-right: 0;
}
#header form #searchsubmit {
  *zoom: 1;
  display: inline;
  float: left;
  width: 23.404255319148938%;
  margin-right: 2.127659574468085%;
  *width: 22.845744680851062%;
  *margin-right: 2.083333333333333%;
  padding: 4px 0;
  background-color: #db9e36;
  border: 0;
  color: #fff;
  height: 36px;
  padding: 5px 9%;
}
#header form #searchsubmit:before,
#header form #searchsubmit:after {
  content: "";
  display: table;
}
#header form #searchsubmit:after {
  clear: both;
}
#header form #searchsubmit:last-child {
  margin-right: 0;
}
#nav {
  background: #db9e36;
  margin-bottom: 30px;
}
#nav > div {
  *zoom: 1;
  max-width: 1410px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0;
  border-left: 1px solid #dda340;
  border-right: 1px solid #d09125;
}
#nav > div:before,
#nav > div:after {
  content: "";
  display: table;
}
#nav > div:after {
  clear: both;
}
#nav a {
  font-size: 16px;
  *zoom: 1;
  display: inline;
  float: left;
  width: 16.666666666666664%;
  *width: 16.666666666666664% -correction;
  *behavior: url("js/vendor/boxsizing.htc");
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-right: 1px solid #dda340;
  border-left: 1px solid #d09125;
}
#nav a:before,
#nav a:after {
  content: "";
  display: table;
}
#nav a:after {
  clear: both;
}
#nav a:hover {
  background: #dda340;
}
#main {
  *zoom: 1;
  max-width: 1410px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}
#main:before,
#main:after {
  content: "";
  display: table;
}
#main:after {
  clear: both;
}
#posts {
  *zoom: 1;
  display: inline;
  float: left;
  width: 65.95744680851064%;
  margin-right: 2.127659574468085%;
  *width: 64.51241134751774%;
  *margin-right: 2.083333333333333%;
}
#posts:before,
#posts:after {
  content: "";
  display: table;
}
#posts:after {
  clear: both;
}
#posts:last-child {
  margin-right: 0;
}
#posts #paraulaclau {
  background: #db9e36;
  padding: 0% 0.8%;
}
.post_sencer {
  *zoom: 1;
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: 0;
  padding: 30px;
  min-height: 800px;
}
.post_sencer:before,
.post_sencer:after {
  content: "";
  display: table;
}
.post_sencer:after {
  clear: both;
}
.post_sencer .cos404 {
  *zoom: 1;
  display: inline;
  float: left;
  width: 100%;
  margin-right: 2.127659574468085%;
  *width: 97.84574468085106%;
  *margin-right: 2.083333333333333%;
  text-align: center;
}
.post_sencer .cos404:before,
.post_sencer .cos404:after {
  content: "";
  display: table;
}
.post_sencer .cos404:after {
  clear: both;
}
.post_sencer .cos404:last-child {
  margin-right: 0;
}
.post_sencer .cos404 p {
  margin-top: 10%;
}
.post_sencer .cos404 h1 {
  font-size: 3em;
}
.post_sencer .cos {
  *zoom: 1;
  display: inline;
  float: left;
  width: 70.2127659574468%;
  margin-right: 2.127659574468085%;
  *width: 68.6790780141844%;
  *margin-right: 2.083333333333333%;
}
.post_sencer .cos p #mostragran {
  color: #db9e36;
}
.post_sencer .cos:before,
.post_sencer .cos:after {
  content: "";
  display: table;
}
.post_sencer .cos:after {
  clear: both;
}
.post_sencer .cos:last-child {
  margin-right: 0;
}
.post_sencer .cos p {
  margin: 0;
  text-align: justify;
  margin-bottom: 10px;
}
.post_sencer .cos img {
  float: left;
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.post_sencer .cos h1 {
  font-size: 3em;
}
.post_sencer .cos .comments-area {
  background: #db9e36;
  padding: 5px;
}
.post_sencer .cos .comments-area a {
  color: #fff;
  text-decoration: none;
}
.post_sencer .cos .comments-area ol {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #e2b15e;
}
.post_sencer .cos .comments-area ol .comment-body {
  padding: 5px;
  margin-bottom: 7px;
}
.post_sencer .cos .comments-area ol .comment-body img {
  width: 7%;
  margin: 0;
  margin-right: 5px;
  padding: 0;
}
.post_sencer .cos .comments-area ol .comment-body p {
  display: block;
  clear: both;
}
.post_sencer .cos .comments-area ol ul {
  list-style: none;
}
.post_sencer .cos .comments-area #respond textarea {
  width: 100%;
  resize: none;
  background: #f4e2c3;
  border: 0;
}
.post_sencer .cos .comments-area #respond form label {
  display: block;
  *zoom: 1;
  display: inline;
  float: left;
  width: 21.27659574468085%;
  margin-right: 2.127659574468085%;
  *width: 20.762411347517734%;
  *margin-right: 2.083333333333333%;
}
.post_sencer .cos .comments-area #respond form label:before,
.post_sencer .cos .comments-area #respond form label:after {
  content: "";
  display: table;
}
.post_sencer .cos .comments-area #respond form label:after {
  clear: both;
}
.post_sencer .cos .comments-area #respond form label:last-child {
  margin-right: 0;
}
.post_sencer .cos .comments-area #respond form input {
  background: #f4e2c3;
  border: 0;
  width: 50%;
}
.post_sencer .cos .comments-area #respond form .comment-subscription-form {
  display: block;
  width: auto;
  height: 25px;
  clear: both;
  background: #f4e2c3;
}
.post_sencer .cos .comments-area #respond form .comment-subscription-form input {
  float: left;
  margin: 5px;
}
.post_sencer .cos .comments-area #respond form .comment-subscription-form label {
  float: left;
  width: 90%;
  margin: 2px;
}
.post_sencer .columnafixa {
  *zoom: 1;
  display: inline;
  float: left;
  width: 27.659574468085108%;
  margin-right: 2.127659574468085%;
  *width: 27.01241134751773%;
  *margin-right: 2.083333333333333%;
}
.post_sencer .columnafixa:before,
.post_sencer .columnafixa:after {
  content: "";
  display: table;
}
.post_sencer .columnafixa:after {
  clear: both;
}
.post_sencer .columnafixa:last-child {
  margin-right: 0;
}
.post_sencer .columnafixa img {
  width: 100%;
  height: auto;
}
.post_sencer .columnafixa .columnaesquerra {
  border: solid 1px #db9e36;
  padding: 20px;
  background: #fff;
  margin-top: 0;
}
.post_sencer .columnafixa .columnaesquerra:last-child {
  margin-top: 20px;
}
.post_sencer .columnafixa .columnaesquerra .infopost {
  display: block;
}
.post_sencer .columnafixa .columnaesquerra .infopost a {
  color: #db9e36;
  text-decoration: none;
}
.post_sencer .columnafixa .columnaesquerra ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}
.post_sencer .columnafixa .columnaesquerra ul li {
  display: inline;
}
.post_sencer .columnafixa .columnaesquerra .acompartir {
  background: #db9e36;
  color: #fff;
  padding: 5px;
  display: block;
  clear: both;
  margin-bottom: 5px;
  text-decoration: none;
  text-align: center;
}
.post_sencer .columnafixa .columnaesquerra .acompartir:hover {
  background: #bd4932;
}
.post_sencer .columnafixa ul {
  display: inline;
  padding: 0;
  margin: 0;
}
.post_sencer .columnafixa ul li {
  list-style: none;
  display: inline;
}
.post {
  *zoom: 1;
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: 0;
  padding: 30px;
}
.post:before,
.post:after {
  content: "";
  display: table;
}
.post:after {
  clear: both;
}
.post img {
  float: left;
  width: 31.914893617021278%;
  height: 31.914893617021278%;
}
.post header {
  *zoom: 1;
  display: inline;
  float: left;
  width: 61.702127659574465%;
  margin-right: 2.127659574468085%;
  *width: 60.34574468085106%;
  *margin-right: 2.083333333333333%;
  margin-left: 4.25531914893617%;
}
.post header:before,
.post header:after {
  content: "";
  display: table;
}
.post header:after {
  clear: both;
}
.post header:last-child {
  margin-right: 0;
}
.post header nav {
  margin-bottom: 10px;
}
.post header nav ul {
  margin: 0;
  padding: 0;
}
.post header nav a {
  color: #65b3ea;
  text-decoration: none;
}
.post header nav a:hover {
  text-decoration: underline;
}
.post header nav a:last-child {
  border-bottom: 1px solid #ddd;
}
.post header h1 {
  font-size: 2.5em;
  font-weight: bold;
}
.post header h1 a {
  color: #000;
  text-decoration: none;
}
.post header h1:hover {
  background-color: #eee;
}
.post header p {
  text-align: justify;
}
.post header .llegirmes {
  text-decoration: none;
  display: block;
  float: right;
  margin: 0;
}
.post header .date {
  color: #555;
  margin: 0;
}
.post .veuretot {
  *zoom: 1;
  display: inline;
  float: left;
  width: 53.191489361702125%;
  margin-right: 2.127659574468085%;
  *width: 52.012411347517734%;
  *margin-right: 2.083333333333333%;
  margin-left: 8.51063829787234%;
  margin-top: 30px;
  background: #db9e36;
  padding: 5px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.post .veuretot:before,
.post .veuretot:after {
  content: "";
  display: table;
}
.post .veuretot:after {
  clear: both;
}
.post .veuretot:last-child {
  margin-right: 0;
}
.post .veuretotsi {
  *zoom: 1;
  display: inline;
  float: left;
  width: 53.191489361702125%;
  margin-right: 2.127659574468085%;
  *width: 52.012411347517734%;
  *margin-right: 2.083333333333333%;
  margin-left: 8.51063829787234%;
  background: #008000;
  padding: 5px;
  text-align: center;
  margin-top: 30px;
  color: #fff;
  text-decoration: none;
}
.post .veuretotsi:before,
.post .veuretotsi:after {
  content: "";
  display: table;
}
.post .veuretotsi:after {
  clear: both;
}
.post .veuretotsi:last-child {
  margin-right: 0;
}
.post .veuretotno {
  visibility: hidden;
}
.wp-pagenavi {
  *zoom: 1;
  display: inline;
  float: left;
  width: 100%;
  margin-right: 2.127659574468085%;
  *width: 97.84574468085106%;
  *margin-right: 2.083333333333333%;
  margin-top: 10px;
  background: #fff;
  padding: 10px 30px;
  border: 1px solid #ddd;
}
.wp-pagenavi:before,
.wp-pagenavi:after {
  content: "";
  display: table;
}
.wp-pagenavi:after {
  clear: both;
}
.wp-pagenavi:last-child {
  margin-right: 0;
}
.wp-pagenavi a {
  color: #000;
  text-decoration: none;
  text-align: center;
  *zoom: 1;
  display: inline;
  float: left;
  width: 3.404255319148936%;
  margin-right: 2.127659574468085%;
  *width: 3.2624113475177308%;
  *margin-right: 2.083333333333333%;
  height: 28px;
  padding-top: 3px;
}
.wp-pagenavi a:before,
.wp-pagenavi a:after {
  content: "";
  display: table;
}
.wp-pagenavi a:after {
  clear: both;
}
.wp-pagenavi a:last-child {
  margin-right: 0;
}
.wp-pagenavi a:hover {
  background: #db9e36;
}
.wp-pagenavi .current {
  color: #fff;
  text-align: center;
  *zoom: 1;
  display: inline;
  float: left;
  width: 3.404255319148936%;
  margin-right: 2.127659574468085%;
  *width: 3.2624113475177308%;
  *margin-right: 2.083333333333333%;
  height: 28px;
  background: #bd4932;
  padding-top: 3px;
}
.wp-pagenavi .current:before,
.wp-pagenavi .current:after {
  content: "";
  display: table;
}
.wp-pagenavi .current:after {
  clear: both;
}
.wp-pagenavi .current:last-child {
  margin-right: 0;
}
.wp-pagenavi .first {
  *zoom: 1;
  display: inline;
  float: left;
  width: 8.51063829787234%;
  margin-right: 2.127659574468085%;
  *width: 8.262411347517729%;
  *margin-right: 2.083333333333333%;
  text-align: center;
}
.wp-pagenavi .first:before,
.wp-pagenavi .first:after {
  content: "";
  display: table;
}
.wp-pagenavi .first:after {
  clear: both;
}
.wp-pagenavi .first:last-child {
  margin-right: 0;
}
.wp-pagenavi .last {
  *zoom: 1;
  display: inline;
  float: left;
  width: 8.51063829787234%;
  margin-right: 2.127659574468085%;
  *width: 8.262411347517729%;
  *margin-right: 2.083333333333333%;
  text-align: center;
}
.wp-pagenavi .last:before,
.wp-pagenavi .last:after {
  content: "";
  display: table;
}
.wp-pagenavi .last:after {
  clear: both;
}
.wp-pagenavi .last:last-child {
  margin-right: 0;
}
#sidebar {
  *zoom: 1;
  display: inline;
  float: left;
  width: 31.914893617021278%;
  margin-right: 2.127659574468085%;
  *width: 31.179078014184398%;
  *margin-right: 2.083333333333333%;
  margin-top: 10px;
}
#sidebar:before,
#sidebar:after {
  content: "";
  display: table;
}
#sidebar:after {
  clear: both;
}
#sidebar:last-child {
  margin-right: 0;
}
#sidebar .social a {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background: #fff;
  padding: 30px 0;
  border: 1px solid #ddd;
  border-right: 0;
}
#sidebar .social a:hover {
  background: #eee;
}
#sidebar .social a:last-child {
  border-right: 1px solid #ddd;
}
#sidebar2 {
  *zoom: 1;
  display: inline;
  float: left;
  width: 31.914893617021278%;
  margin-right: 2.127659574468085%;
  *width: 31.179078014184398%;
  *margin-right: 2.083333333333333%;
  margin-top: 10px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  border: 1px solid #ddd;
}
#sidebar2:before,
#sidebar2:after {
  content: "";
  display: table;
}
#sidebar2:after {
  clear: both;
}
#sidebar2:last-child {
  margin-right: 0;
}
#sidebar2 .fondo_imatge {
  background-image: url("http://www.hhhhold.com/400-550");
  -webkit-background-size: 500px 500px;
  -moz-background-size: 500px 500px;
  background-size: 500px 500px;
  height: 200px;
}
#llistalinks {
  *zoom: 1;
  display: inline;
  float: left;
  width: 31.914893617021278%;
  margin-right: 2.127659574468085%;
  *width: 31.179078014184398%;
  *margin-right: 2.083333333333333%;
  margin: 0;
}
#llistalinks:before,
#llistalinks:after {
  content: "";
  display: table;
}
#llistalinks:after {
  clear: both;
}
#llistalinks:last-child {
  margin-right: 0;
}
#llistalinks a {
  border: solid #ddd;
  border-width: 1px 1px 0px 1px;
  background: #fff;
  color: #777;
  *zoom: 1;
  display: inline;
  float: left;
  width: 100%;
  margin-right: 2.127659574468085%;
  *width: 97.84574468085106%;
  *margin-right: 2.083333333333333%;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}
#llistalinks a:before,
#llistalinks a:after {
  content: "";
  display: table;
}
#llistalinks a:after {
  clear: both;
}
#llistalinks a:last-child {
  margin-right: 0;
}
#llistalinks a:last-child {
  margin-bottom: 0px;
  border-bottom: 1px solid #ddd;
}
#llistalinks a:hover {
  color: #000;
  background: #eee;
}
#llistalinks a img {
  *zoom: 1;
  display: inline;
  float: left;
  width: 2.127659574468085%;
  margin-right: 2.127659574468085%;
  *width: 2.0124113475177303%;
  *margin-right: 2.083333333333333%;
  height: 10px;
  width: 5px;
  margin-top: 5px;
  float: right;
}
#llistalinks a img:before,
#llistalinks a img:after {
  content: "";
  display: table;
}
#llistalinks a img:after {
  clear: both;
}
#llistalinks a img:last-child {
  margin-right: 0;
}
.titol_aside {
  font-weight: normal;
  margin: 0;
  *zoom: 1;
  display: inline;
  float: left;
  width: 100%;
  *width: 100% -correction;
  *behavior: url("js/vendor/boxsizing.htc");
  padding: 10px 5px;
  display: block;
  font-size: 20px;
  padding-left: 20px;
  color: #fff;
  background: #db9e36;
}
.titol_aside:before,
.titol_aside:after {
  content: "";
  display: table;
}
.titol_aside:after {
  clear: both;
}
.segueixnos {
  margin-top: 50px;
}
footer {
  *zoom: 1;
  display: inline;
  float: left;
  width: 100%;
  margin-right: 2.127659574468085%;
  *width: 97.84574468085106%;
  *margin-right: 2.083333333333333%;
  background: #105b63;
  height: 190px;
}
footer:before,
footer:after {
  content: "";
  display: table;
}
footer:after {
  clear: both;
}
footer:last-child {
  margin-right: 0;
}
footer .footer_mig {
  font-size: 16px;
  color: #fff;
  padding: 20px;
  *zoom: 1;
  max-width: 1410px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  min-height: 190px;
  margin-left: 12.76595744680851%;
  margin-right: auto;
  *zoom: 1;
  display: inline;
  float: left;
  width: 75%;
  *width: 75% -correction;
  *behavior: url("js/vendor/boxsizing.htc");
  background: #105b63;
  margin-left: 12.76595744680851%;
}
footer .footer_mig:before,
footer .footer_mig:after {
  content: "";
  display: table;
}
footer .footer_mig:after {
  clear: both;
}
footer .footer_mig:before,
footer .footer_mig:after {
  content: "";
  display: table;
}
footer .footer_mig:after {
  clear: both;
}
footer .footer_mig hr {
  height: 1px;
  background: #188a96;
  border: 0;
}
footer .footer_mig a {
  color: #fff;
}
@media all and (max-width: 745px) {
#header form,
#posts,
#sidebar,
#sidebar2,
#posts .post img,
#posts .post header,
#llistalinks,
footer .footer_mig,
#posts .post_sencer .columnafixa,
#posts .post_sencer .cos {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  text-align: center;
}
#header .logo {
  *zoom: 1;
  display: inline;
  float: left;
  width: 40.42553191489361%;
  margin-right: 2.127659574468085%;
  *width: 39.51241134751773%;
  *margin-right: 2.083333333333333%;
}
#header .logo:before,
#header .logo:after {
  content: "";
  display: table;
}
#header .logo:after {
  clear: both;
}
#header .logo:last-child {
  margin-right: 0;
}
#header .logo img {
  display: inline-block;
}
#nav a {
  border-top: 1px solid #e0ad54;
  border-bottom: 1px solid #b98121;
  margin-bottom: 0;
  *zoom: 1;
  display: inline;
  float: left;
  width: 50%;
  *width: 50% -correction;
  *behavior: url("js/vendor/boxsizing.htc");
  padding: 10px;
}
#nav a:before,
#nav a:after {
  content: "";
  display: table;
}
#nav a:after {
  clear: both;
}
#posts .post_sencer .columnafixa .columnaesquerra {
  font-size: 0.85em;
  padding: 10px 0px;
  margin: 0;
}
#posts .post_sencer .columnafixa .columnaesquerra:last-child {
  margin-top: 5px;
}
#posts .post_sencer .columnafixa .columnaesquerra .infopost {
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
}
#posts .post_sencer .columnafixa .columnaesquerra .acompartir {
  display: inline;
  padding: 9px 9px;
  line-height: 290%;
}
#posts .post img {
  margin-bottom: 15px;
  height: auto;
}
#posts .post . h3 {
  text-align: justify;
}
#posts .post header p {
  margin-bottom: 0;
}
#posts .post p,
h1 {
  text-align: left;
}
#posts .post ul li {
  text-align: right;
}
#header form {
  margin-top: 0;
  margin-bottom: 0;
}
#header form input {
  padding: 5px;
}
#header form #searchsubmit {
  height: 27px;
}
#llistalinks {
  text-align: left;
}
#titol_aside {
  text-align: left;
}
.cos iframe {
  height: 400px;
}
@media all and (max-width: 350px) {
#header .logo {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  text-align: center;
}
#nav a {
  padding: 5px;
}
#nav {
  margin-bottom: 10px;
}
#posts .post {
  padding: 5px;
  padding-bottom: 10px;
}
#posts .post_sencer {
  padding: 5px;
  padding-bottom: 10px;
}
#posts .post_sencer .cos {
  font-size: 0.85em;
}
#posts .post_sencer .cos h1 {
  font-size: 2.3em;
}
#posts .post img {
  margin: 0;
  height: auto;
}
#posts .post header nav {
  margin: 0;
  padding: 0;
}
#main {
  padding: 0;
}
footer .footer_mig {
  font-size: 12px;
}
#llistalinks a {
  padding: 5px 10px;
}
#titol_aside {
  text-align: left;
  padding: 5px 10px;
}
#posts .post_sencer .columnafixa .columnaesquerra {
  font-size: 12px;
}
}
